﻿@inherits LayoutComponentBase
@inject IBootstrapCss Bootstrap
@inject SessionStorageService Session
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 bg-transparent">
        <h3>@Login</h3>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
@code{
    private string Login = "";
    private bool IsServerSide = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var account = await Session.GetItemAsync<Account>("Authorized Account");
            if (account != null)
            {
                Login = account.Login;
            }
            StateHasChanged();
        }
        try
        {
            await Bootstrap.SetBootstrapCss("4.5.0");
        }
        catch (Exception E)
        {
            IsServerSide = true;
        }
    }
}