﻿@inject NavigationService Navigator
@inject SessionStorageService Session
@inject NavigationManager Nav
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="favicon.ico" width="32" height="32">CageArt</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Домашняя страница
            </NavLink>
        </li>
        @if (Authorization == false)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Auth" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Авторизация
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Выйти
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Register" Match="NavLinkMatch.All">
                <span class="oi oi-check" aria-hidden="true"></span> Регистрация
            </NavLink>
        </li>
        @switch (account.UserRole)
        {

            case "User":
                @foreach (var link in from links in Navigator.GetNavigationLinks() where links.AccessLevel == "Public" || links.AccessLevel == "User" select links)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@link.Adress" Match="NavLinkMatch.All">
                            <span class="oi @link.Icon" aria-hidden="true"></span> @link.Header
                        </NavLink>
                    </li>
                }
                break;
            case "Author":
                @foreach (var link in from links in Navigator.GetNavigationLinks()
                                     where links.AccessLevel == "Public" || links.AccessLevel == "User"
                                    || links.AccessLevel == "Author" select links)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@link.Adress" Match="NavLinkMatch.All">
                            <span class="oi @link.Icon" aria-hidden="true"></span> @link.Header
                        </NavLink>
                    </li>
                }
                break;
            case "Administrator":
                @foreach (var link in from links in Navigator.GetNavigationLinks()
                                     where links.AccessLevel == "Public" || links.AccessLevel == "User" 
                                     || links.AccessLevel == "Author" || links.AccessLevel == "Administrator" select links)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@link.Adress" Match="NavLinkMatch.All">
                            <span class="oi @link.Icon" aria-hidden="true"></span> @link.Header
                        </NavLink>
                    </li>
                }
                break;
            default:
                @foreach (var link in from links in Navigator.GetNavigationLinks() where links.AccessLevel == "Public" select links)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@link.Adress" Match="NavLinkMatch.All">
                            <span class="oi @link.Icon" aria-hidden="true"></span> @link.Header
                        </NavLink>
                    </li>
                }
                break;
        }
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool Authorization = false;
    private Account account = new Account();

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var acc = await Session.GetItemAsync<Account>("Authorized Account");
            if (acc != null)
            {
                account = acc;
                Authorization = true;
            }
            StateHasChanged();
        }
    }
    private void logout()
    {
        Session.RemoveItemAsync("Authorized Account");
        Authorization = false;
        StateHasChanged();
        Nav.NavigateTo("/", true);
    }
}
