﻿@inject CharacterService Characters
@inject ThreadService Threads
@page "/ArticlePage/{ArticleId}"
<h1>@Character.CharacterName</h1>
<BSContainer>
    <h2>Харакетристики</h2>
    <h4>Возможность @Character.CharacterAbility</h4>
    <h4>Пол @Character.CharacterGender</h4>
    <h4>Возраст @Character.CharacterAge</h4>
    <h4>Группа крови @Character.CharacterBlood</h4>
    <h4>Дата рождения @Character.CharacterBirthday</h4>
    <h4>Знак зодиака @Character.CharacterZodiak</h4>
    <h4>Вес @Character.CharacterWeight</h4>
    <h4>Статус @Character.CharacterStatus</h4>
    @if (Mask.MaskRarity == "")
    {
        <h4>Не владеет маской</h4>
    }
    else
    {
        <h4>Маска @Mask.MaskRarity</h4>
        <h4>Редкость @Mask.MaskType</h4>
    }
</BSContainer>
<BSContainer>
    <h2>Локации персонажа</h2>
    <dl>
        @foreach (var location in from characters in Characters.GetCharactersWithLocations() where characters.Key.CharacterId == Character.CharacterId select characters.Value)
        {
            <dt>@location.LocationName</dt>
            <dd>
                <h4>Расположение @location.LocationPosition</h4>
                <h4>Тип @location.LocationType</h4>
                <h4>Жители @location.LocationDwellers</h4>
                <h4>Быт @location.LocationLife</h4>
            </dd>
        }
    </dl>
</BSContainer>
<BSContainer>
    <h3>Скины персонажа</h3>
    <dl>
        @foreach (var skin in from characters in Characters.GetCharactersWithSkins() where characters.Key.CharacterId == Character.CharacterId select characters.Value)
        {
            <dt>@skin.SkinName</dt>
            <dd>
                <h4>Возможность @skin.SkinAbility</h4>
                <h4>Недостаток @skin.SkinDisadvantage</h4>
            </dd>
        }
    </dl>
</BSContainer>
@if (Character.CharacterArticle != null)
{
    <BSContainer>
        <p>
            @Character.CharacterArticle.ArticleText
        </p>
    </BSContainer>
}
    <BSContainer>
        <h2>Комментарии</h2>
        <Stub StubText="Только авторизованные пользователи могут оставлять комментарии">
            <ThreadPage ThreadId="@CommentaryThread.ThreadId.ToString()" />
        </Stub>
  </BSContainer>
@code {
    [Parameter]
    public string ArticleId { get; set; }
    private Character Character = new Character();
    private Thread CommentaryThread = new Thread();
    private Mask Mask = new Mask();
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var character = from characters in Characters.GetCharacters() where characters.CharacterId == int.Parse(ArticleId) select characters;
            if (character != null)
            {
                Character = character.First();
            }
            var thread = from threads in Threads.GetAllThreads() where threads.ThreadName == $"Комментарии к статье {Character.CharacterName}" select threads;
            if (thread != null)
            {
                CommentaryThread = thread.First();
            }
            var mask = from masks in Characters.GetCharactersWithMasks() where masks.Key.CharacterId == Character.CharacterId select masks;
            if (mask != null)
            {
                Mask = mask.First().Value;
            }

            StateHasChanged();
        }
    }
}
