﻿@inject SessionStorageService Session
@inject CharacterService Characters
@inject SkinService Skins
@inject LocationService Locations
@inject ThreadService Threads
@inject MaskService Masks
@page "/ArticleEditor"
<h3>Редактор статей</h3>
<BSContainer>
    @if (IsCharacterFilled == false)
    {
        <h2>Заполните анкету персонажа</h2>
        <EditForm Model="character" OnValidSubmit="SendCharacter">
            <BSFormGroup>
                <BSLabel>Имя персонажа</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="character.CharacterName" />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Пол персонажа</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="character.CharacterGender">
                    <option />
                    <option value="Мужской">Мужской</option>
                    <option value="Женский">Женский</option>
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Возраст персонажа</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="character.CharacterAge" />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Знак зодиака</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="character.CharacterZodiak">
                    <option />
                    <option value="Овен">Овен</option>
                    <option value="Телец">Телец</option>
                    <option value="Близнецы">Близнецы</option>
                    <option value="Рак">Рак</option>
                    <option value="Лев">Лев</option>
                    <option value="Дева">Дева</option>
                    <option value="Весы">Весы</option>
                    <option value="Скорпион">Скорпион</option>
                    <option value="Змееносец">Змееносец</option>
                    <option value="Стрелец">Стрелец</option>
                    <option value="Козерог">Козерог</option>
                    <option value="Рыбы">Рыбы</option>
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Группа крови</BSLabel>
                <BSInput InputType="InputType.Select" @bind-Value="character.CharacterBlood">
                    <option />
                    <option value="O Rh+">O Rh+</option>
                    <option value="O Rh-">O Rh-</option>
                    <option value="A Rh-">A Rh-</option>
                    <option value="B Rh+">B Rh+</option>
                    <option value="B Rh-">B Rh-</option>
                    <option value="AB Rh+">AB Rh+</option>
                    <option value="AB Rh-">AB Rh-</option>
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>День рождения персонажа</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="character.CharacterBirthday" />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Вес персонажа</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="character.CharacterWeight" />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Возможность персонажа</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="character.CharacterAbility" />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Статус персонажа</BSLabel>
                <BSInput InputType="InputType.Text" @bind-Value="character.CharacterStatus" />
            </BSFormGroup>
            <BSFormGroup>
                <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Заполнить анкету</BSButton>
                <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
            </BSFormGroup>
        </EditForm>
    }
    else
    {
        @if (IsAritcleFilled == false)
        {
            <h2>Заполните содержимое статьи</h2>
            <EditForm Model="article" OnValidSubmit="SendArticle">
                <BSFormGroup>
                    <BSInput InputType="InputType.TextArea" @bind-Value="article.ArticleText" />
                    <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Заполнить статью</BSButton>
                    <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
                </BSFormGroup>
            </EditForm>
        }
        else
        {
            @if (IsLocationAdded == false)
            {
                <h2>Добавьте локацию</h2>
                <EditForm Model="location" OnValidSubmit="AddLocation">
                    <BSFormGroup>
                        <BSInput InputType="InputType.Select" @bind-Value="location.LocationId">
                            <option />
                            @foreach (var location in Locations.GetLocations())
                                        {
                                <option value="@location.LocationId">@location.LocationName</option>
                                        }
                        </BSInput>
                        <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Добавить локацию</BSButton>
                        <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
                    </BSFormGroup>
                </EditForm>
            }
            else
            {
                @if (IsSkinAdded == false)
                {
                    <h2>Добавьте скин</h2>
                    <EditForm Model="skin" OnValidSubmit="AddSkin">
                        <BSFormGroup>
                            <BSInput InputType="InputType.Select" @bind-Value="skin.SkinId">
                                <option />
                                @foreach (var skin in Skins.GetSkins())
                                                {
                                    <option value="@skin.SkinId">@skin.SkinName</option>
                                                }
                            </BSInput>
                            <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Добавить скин</BSButton>
                            <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
                        </BSFormGroup>
                    </EditForm>
                }
            }

        }
    }
</BSContainer>
@if (IsSkinAdded == true)
{
    <h2>Добавьте маску (не обязательно)</h2>
    <EditForm Model="Mask" OnValidSubmit="AddMask">
        <BSFormGroup>
            <BSInput InputType="InputType.Select" @bind-Value="Mask.MaskId">
                <option />
                @foreach (var mask in Masks.GetMasks())
                    {
                    <option value="@location.@mask.MaskId">@mask.MaskType</option>
                    }
            </BSInput>
            <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Добавить маску</BSButton>
            <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
        </BSFormGroup>
    </EditForm>
}
@code {
    private Account account = new Account();
    private Character character = new Character();
    private Article article = new Article();
    private Location location = new Location();
    private Skin skin = new Skin();
    private Mask Mask = new Mask();
    private bool IsCharacterFilled = false;
    private bool IsAritcleFilled = false;
    private bool IsLocationAdded = false;
    private bool IsSkinAdded = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var acc = await Session.GetItemAsync<Account>("Authorized Account");
        if (acc != null)
        {
            account = acc;
        }
        StateHasChanged();
    }
    private void SendCharacter()
    {
        IsCharacterFilled = true;
        StateHasChanged();
    }
    private void SendArticle()
    {
        character.CharacterArticle = article;
        IsAritcleFilled = true;
        StateHasChanged();
    }
    private void AddLocation()
    {
        var locat = from loc in Locations.GetLocations() where loc.LocationId == location.LocationId select loc;
        if (locat != null)
        {
            location = locat.First();
        }
        IsLocationAdded = true;
        StateHasChanged();
    }
    private void AddSkin()
    {
        var skinq = from skins in Skins.GetSkins() where skins.SkinId == skin.SkinId select skins;
        if (skinq != null)
        {
            skin = skinq.First();
        }
        Thread thread = new Thread();
        thread.ThreadName = $"Комментарии к статье {character.CharacterName}";
        thread.ThreadDescription = $"Комментарии к статье на странице статьи {character.CharacterName}";
        thread.ThreadAuthor = account;
        Threads.AddThread(thread);
        Characters.InsertCharacter(account, character, location, skin);
        StateHasChanged();

    }
    private void AddMask()
    {
        var maskq = from masks in Masks.GetMasks() where masks.MaskId == Mask.MaskId select masks;
        if (maskq != null)
        {
            Mask = maskq.First();
        }

        Characters.AddMask(Mask, character);
        character = new Character();
        location = new Location();
        skin = new Skin();
        IsCharacterFilled = false;
        IsAritcleFilled = false;
        IsLocationAdded = false;
        StateHasChanged();
    }
}
