﻿@inject LocationService Locations
@inject SkinService Skins
@inject MaskService Masks 
@page "/ArtibutesEditor"
<h3>Редактор атрибутов</h3>
<h3>@Notification</h3>
<BSContainer>
    <h2>Форма добавления скина</h2>
    <EditForm Model="Skin" OnValidSubmit="SendSkin">
        <BSFormGroup>
            <BSLabel>Имя скина</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Skin.SkinName" />
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel>Способность скина</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Skin.SkinAbility" />
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel>Недостаток Скина</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Skin.SkinDisadvantage" />
        </BSFormGroup>
        <BSFormGroup>
            <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Добавить скин</BSButton>
            <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
        </BSFormGroup>
    </EditForm>
</BSContainer>
<BSContainer>
    <h2>Форма добавления локации</h2>
    <EditForm Model="Location" OnValidSubmit="SendLocation">
        <BSFormGroup>
            <BSLabel>Имя локации</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Location.LocationName" />
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel>Местоположение</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Location.LocationPosition" />
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel>Тип локации</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Location.LocationType" />
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel>Жители локации</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Location.LocationDwellers" />
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel>Быт жителей</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Location.LocationLife" />
        </BSFormGroup>
        <BSFormGroup>
            <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Добавить локацию</BSButton>
            <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
        </BSFormGroup>
    </EditForm>
</BSContainer>
<BSContainer>
    <h2>Форма добавления маски</h2>
    <EditForm Model="Mask" OnValidSubmit="SendMask">
        <BSFormGroup>
            <BSLabel>Редкость маски</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Mask.MaskRarity" />
        </BSFormGroup>
        <BSFormGroup>
            <BSLabel>Тип маски</BSLabel>
            <BSInput InputType="InputType.Text" @bind-Value="Mask.MaskType" />
        </BSFormGroup>
        <BSFormGroup>
            <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Добавить скин</BSButton>
            <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
        </BSFormGroup>
    </EditForm>
</BSContainer>
@code {
    private string Notification="";
    private Location Location= new Location();
    private Skin Skin= new Skin();
    private Mask Mask= new Mask();
    private void SendSkin()
    {
        Skins.InsertSkin(Skin);
        Notification = $"Скин с именем {Skin.SkinName} добавлен";
        Skin = new Skin();
        StateHasChanged();
    }
    private void SendLocation()
    {
        Locations.InsertLocation(Location);
        Notification = $"Локация с именем {Location.LocationName} добавлена";
        Location = new Location();
        StateHasChanged();
    }
    private void SendMask()
    {
        Masks.InsertMask(Mask);
        Notification = $"Маска с именем {Mask.MaskType} добавлена";
        Mask = new Mask();
        StateHasChanged();
    }
}
