﻿@inject AccountService AccountBase
@inject NavigationManager Navigator
@inject SessionStorageService Session 
@page "/Auth"
@page "/Auth/{User}"
    <BSContainer>
        <h3>Авторизация</h3>
        <EditForm id="authorization" Model="pretendaccount" OnValidSubmit="@Authorize">
            <BSFormGroup>
                <h3 class="validation-message">@ErrorMessage</h3>
                <DataAnnotationsValidator />
                <BSValidationSummary />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Введите имя пользователя:</BSLabel>
                <BSInput InputType="InputType.Text" Class="form-control" id="login" @bind-Value="pretendaccount.Login" />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Введите пароль:</BSLabel>
                <BSInput InputType="InputType.Password" Class="form-control" id="password" @bind-Value="pretendaccount.Password" />
            </BSFormGroup>
            <BSFormGroup>
                <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Войти</BSButton>
                <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
            </BSFormGroup>
        </EditForm>
    </BSContainer>
@code {
    Account pretendaccount = new Account();
    [Parameter]
    public string User { get => pretendaccount.Login; set => pretendaccount.Login = value; }
    private string ErrorMessage;
    private async Task Authorize()
    {
        var request = from acc in AccountBase.GetAccountsCollection()
                      where acc.Login == pretendaccount.Login && acc.Password == pretendaccount.EnycryptPassword()
                      select acc;
        if (request.Count() == 1)
        {
            await Session.SetItemAsync("Authorized Account", request.First());
            pretendaccount.Login = "";
            pretendaccount.Password = "";
            Navigator.NavigateTo("/",true);
        }
        else
        {
            ErrorMessage = "Пользователеь с данным именем или паролем не найден";
            pretendaccount.Login = "";
            pretendaccount.Password = "";
        }
    }
}
