﻿@page "/Forum"
@inject ThreadService Threads
@inject SessionStorageService Session
<h1>Форум</h1>
<dl>
    @foreach (var thread in from threads in Threads.GetAllThreads() where threads.ThreadName.Contains("Комментарии к статье")==false select threads)
    {
        string link = $"/ThreadPage/{thread.ThreadId}";

        <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
            <span class="oi oi-chat" aria-hidden="true"></span> <dt><strong>@thread.ThreadName</strong></dt>
        </NavLink>

        <BSContainer>
            <dd>
                Тема: @thread.ThreadDescription<br>
                Дата создания: @thread.CreationDate<br>
                Создатель" @thread.ThreadAuthor.Login
            </dd>
        </BSContainer>

    }
</dl>
<Stub StubText="Только авторизованные пользователи могут создавать чаты">
    <BSContainer>
        <EditForm id="registration" Model="thread" OnValidSubmit="@CreateThread">
            <DataAnnotationsValidator />
            <BSValidationSummary />
            <BSLabel>Название треда </BSLabel>
            <BSInput InputType="InputType.Text" Class="form-control" id="name" @bind-Value="thread.ThreadName" />
            <BSLabel>Описание треда </BSLabel>
            <BSInput InputType="InputType.TextArea" id="description" Class="form-control" @bind-Value="thread.ThreadDescription" />
            <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Создать тред</BSButton>
            <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить форму</BSButton>
        </EditForm>
    </BSContainer>
</Stub>

@code {
    Thread thread = new Thread();
    Account account = new Account();
    void CreateThread()
    {
        thread.ThreadAuthor = account;
        Threads.AddThread(thread);
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var acc = await Session.GetItemAsync<Account>("Authorized Account");
            if (acc != null)
            {
                account = acc;
            }
            StateHasChanged();
        }
    }
}
