﻿@inject GalleryService Gallery
@page "/"

<div class="jumbotron" style="background-color:rgba(151, 83, 168, 0.58); color:#33152b;">
    <h1>Добро пожаловать!</h1>
    <p class="lead">
        <br>Этот сайт посвящен творчеству художницы Полина Кейдж.
        <br> На данном сайте, вы найдете различную информацию о комиксе "Маска", а также можете пообщаться на различные темы касаемо этого фэндома.
    </p>
</div>

<BSCarousel NumberOfItems="@images.Count">

    <BSCarouselIndicators NumberOfItems="@images.Count"  />

    <div class="carousel-inner">

        @foreach (var image in images)
        {
            var path = $"/gallery/{image.Path}.png";
            <BSCarouselItem src="@path"alt="@image.Path" Class="img-thumbnail w-75"/>
        }

    </div>

    <BSCarouselControl CarouselDirection="CarouselDirection.Previous" NumberOfItems="@images.Count" />
    <BSCarouselControl CarouselDirection="CarouselDirection.Next" NumberOfItems="@images.Count" />

</BSCarousel>
@code
{      
    ObservableCollection<GalleryImage> images = new ObservableCollection<GalleryImage>();
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            images = Gallery.GetGalleries();
            StateHasChanged();
        }
    }
}