﻿@page "/Register"
@inject AccountService AccountBase
@inject NavigationManager Navigator
    <BSContainer>
        <h3>Регистрация</h3>
        <EditForm id="registration" Model="account" OnValidSubmit="@Insert">
            <BSFormGroup>
                <DataAnnotationsValidator />
                <BSValidationSummary />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Введите имя пользователя:</BSLabel>
                <BSInput InputType="InputType.Text" Class="form-control" id="login" @bind-Value="account.Login" />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Введите пароль:</BSLabel>
                <BSInput InputType="InputType.Password" Class="form-control" id="password" @bind-Value="account.Password" />
            </BSFormGroup>
            <BSFormGroup>
                <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Войти</BSButton>
                <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить Форму</BSButton>
            </BSFormGroup>
        </EditForm>
    </BSContainer>
@code {

    Account account = new Account();
    private void Insert()
    {
        AccountBase.InsertAccounts(account);
        account.Password = "";
        Navigator.NavigateTo($"/Auth/{account.Login}");
        account.Login = "";
    }
}
