﻿@page "/ThreadPage"
@page "/ThreadPage/{ThreadId}"
@inject MessagingService Messages
@inject ThreadService Threads
@inject SessionStorageService Session
@{}
<h1>@Thread.ThreadName</h1>
<dl>
    @foreach (var message in from messages in Messages.GetThreads()
                            where messages.MessageThread.ThreadId == Thread.ThreadId
                            select messages)
    {
        <dt><strong>@message.MessageAuthor.Login @message.MessageDate</strong></dt>
        <dd>@message.MessageText</dd>
    }
</dl>

<EditForm Model="Message" OnValidSubmit="@SendMessage">
    <DataAnnotationsValidator />
    <BSValidationSummary />
    <BSInput InputType="InputType.TextArea" Class="form-control" @bind-Value="Message.MessageText" />
    <BSButton Color="Color.Dark" ButtonType="ButtonType.Submit">Отправить</BSButton>
    <BSButton Color="Color.Danger" ButtonType="ButtonType.Reset">Очистить</BSButton>
</EditForm>
@code {
    [Parameter]
    public string ThreadId { get; set; }
    private Message Message = new Message();
    private Account Account = new Account();
    private Thread Thread = new Thread();
    private void SendMessage()
    {
        Message.MessageAuthor = Account;
        Message.MessageThread = Thread;
        Messages.SendMessage(Message);
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var thread = from threads in Threads.GetAllThreads() where threads.ThreadId == int.Parse(ThreadId) select threads;
            Thread = thread.First();
            var account = await Session.GetItemAsync<Account>("Authorized Account");
            if (account != null)
            {
                Account = account;
            }
            StateHasChanged();
        }
    }
}