﻿@inject CharacterService CharacterService
@page "/Wiki"
<h3>Wiki</h3>
@foreach (var character in CharacterService.GetCharacters())
        {
            var link = $"/ArticlePage/{character.CharacterId}";
            <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
        <span class="oi oi-check" aria-hidden="true"></span> @character.CharacterName
    </NavLink>
}
@code {

}
